@media (min-width: 1440px) {
    main, .box-content, .box-info {
        max-width: 1366px;
    }
}

@media (max-width: 580px) {
    nav span, .navBarP {
        display: none;
    }
    .btn-nav-mob {
        display: block;
    }
    .main {
        transition: margin-left .5s
    }
    .cx-LogoNome{
        width: 100%;
        max-width: 100% !important;
        text-align: center;
    }
    .imgSiteLogo{
        width: 100%;
        max-width: 100% !important;
        padding: 1rem 9rem 1rem 9rem;
        text-align: center !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

}

@media (max-width: 738px) {
    span input[type=search] {
        display: none;
    }
   
}

@media (max-width: 440px) {
    .ul-right {
        float: none !important;
        margin-top: .8em
    }
}



@media (max-width: 690px) {
    .logo {
        width: 100%;
        max-width: 100% !important;
        text-align: center;
    }
    .logo img {
        max-width: 140px;
        padding-bottom: 2rem;
        padding-top: .7rem;
    }
    
}

@media (max-width: 997px){
    table {
        overflow: auto;
    }
    .grid-5-5, .grid-3, .grid-8-2, .grid-2{
        grid-template-columns: auto !important;
    }
    
    .bg-login-left{
        display: none;
    }

    .grid-5, .grid-4 {
        grid-template-columns: auto !important;
    }
    .oqueBuscamos{
        min-height: auto !important;
    }
}

@media (max-width: 800px) {
    
    .sidebar-min {
        max-width: 5.2rem !important;
    }
    .grid-panel {
        grid-template-columns: 5.2rem auto !important;
    }
    .bar_ {
        display: none;
    }
    .sideDados{
        display: none;
    }
    .grid-sidebar {
        grid-template-columns: auto !important;
    }
    .icon-menu .tooltiptext::after {
        visibility: hidden;
        content: "";
        position: absolute;
        top: 30%;
        left: 0%;
        margin-left: -9px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent rgba(130, 130, 130, 1) transparent transparent;
    }
    .icon-menu:hover .tooltiptext,
    .icon-menu:hover .tooltiptext::after {
        display: block;
        visibility: visible;
    }  
}

/* @media (height: 768px){
    main .fful:fullscreen, .fful:-webkit-full-screen, .fful:-moz-full-screen{ 
        height: 100%;
        min-height:768px;
        max-height: 100%;
        float: none !important;
    }
    *:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
        background-color: rgba(0, 150, 126, .09) !important;
        padding: 4rem;
        height: 100%;
        min-height:768px;
        max-height: 100%;
        float: none !important;
    }
} */

@media (max-width: 1920px){
    main .fful:fullscreen, .fful:-webkit-full-screen, .fful:-moz-full-screen{ 
        height: 1080px;
        min-height:1080px;
        max-height: 100%;
        float: none !important;
    }
    *:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
        background-color: rgba(0, 150, 126, .09) !important;
        padding: 4rem;
        height: 1080px;
        min-height:1080px;
        max-height: 100%;
        float: none !important;
    }
}